{
  "openapi": "3.0.3",
  "info": {
    "title": "PokéAPI",
    "version": "2.0.0",
    "description": "Demo API for the developer portal sandbox."
  },
  "servers": [{ "url": "https://pokeapi.co/api/v2" }],
  "paths": {
    "/pokemon/{name}": {
      "get": {
        "summary": "Get Pokémon by name or ID",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Pokémon name or national dex number"
          }
        ],
        "responses": {
          "200": {
            "description": "Pokémon resource",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          },
          "404": { "description": "Pokémon not found" }
        }
      }
    },
    "/pokemon": {
      "get": {
        "summary": "List Pokémon",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 },
            "description": "Number of results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Pokémon list",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  }
}
